*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background:
    linear-gradient(135deg,#14001f,#240046);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Menu */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    color: #C9A227;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.nav .nav-list{
    list-style: none;
    gap: 10px;
    display: flex;
    margin-right: 10px;
}

.nav .nav-list .nav-item a{
    font-size: 18px;
    text-decoration: none;
    color: #F7F7F5;
}

/* titulo */
h1{
    color: #C9A227;
    text-align: center;
    margin: 20px 20px;
}

.parr-index{
    color: #F7F7F5;
    font-size: 18px;
    text-align: center;
}

.title-productsIndex{
    color: #C9A227;
    text-align: center;
    font-size: 24px;
    margin: 40px 0px 0px;
}
/* cards */
.cont-cards{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 40px;
}

.card{
    padding: 10px;
    width: 18rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B1F3A;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 3px #312a12;
    border-top: 1px solid #C9A227;
    border-left: 1px solid #C9A227;
}

.card:hover{
    transform: scale(1.03);
    transition: .3s ease;
}

.nom-product{
    font-size: 20px;
    color: #C9A227;
    margin-bottom: 10px;
}

.img-product{
    width: 17rem;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid #C9A227;
    margin-bottom: 10px;
}

.precio{
    color: #F7F7F5;
    font-size: 18px;
}

.btn-product{
    margin-top: 14px;
    background: linear-gradient(135deg,#d4a017,#f5c542);
    color: #071d49;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    border-right: 4px solid #F7F7F5;
}

.btn-product:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #c5940c83;
    border-right: 6px solid #056805;
    color: #056805;
}

/* Productos */
.cont-cards-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 35px;
    justify-items: center;
    padding: 10px;
    max-width: 1400px;
    margin: auto;
}

.title-products{
    color: #C9A227;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 2%;
}

.title-products::before{
    content: ">";
    background: #071d49;
    border-radius: 10px;
    margin-right: 6px;
    padding: 5px;
}


/* metodos de pago */
.cont-metPay{
    border-top: 2px solid #071d49;
}

.cont-metPay .title-pay{
    color: #C9A227;
    text-align: end;
    font-size: 19px;
    font-weight: 900;
    text-align: center;
    margin-top: 15px;
}

.cont-metPay .list-metPay{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.cont-metPay .list-metPay .item-metPay img{
    width: 90px;
}

.cont-metPay .ymas{
    color: #C9A227;
    text-align: end;
    font-size: 19px;
    font-weight: 900;
    text-align: center;
    margin: 10px 10px;
}

/* Contacto y Newsletter */
.contact, .newsletter{
    max-width: 700px;
    margin: auto;
    background: #0B1F3A;
    padding: 30px;
    border-radius: 25px;
    border: 2px solid rgba(245,197,66,.2);
    margin-bottom: 20px;
}

.form-contact, .form-newsletter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lbl-form-contact{
    color: #f5c542;
    font-size: 19px;
    font-weight: 800;
}

.ipt-form-contact, .txtArea-form{
    width: 100%;
    background: #0f172a;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 14px;
    color: #F7F7F5;
    transition: .3s ease;
}

.txtArea-form{
    min-height: 140px;
}

.ipt-form-contact:focus, .txtArea-form:focus{
    outline: none;
    border-color:#f5c542;
}

.btn-contact, .btn-newsletter{
    background: linear-gradient(135deg,#d4a017,#f5c542);
    color: #071d49;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    cursor: pointer;
    transition: .3s ease;
}

.title-newsletter{
    color: #C9A227;
    font-size: 20px;
    margin-bottom: 10px;
}

.parr-newsletter{
    color: #C9A227;
    font-size: 16px;
    margin-bottom: 5px;
}

.btn-contact:hover, .btn-newsletter:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(197, 148, 12, 0.514);
    color: #056805;
}

/* Footer */
.foo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #071d49;
    padding: 20px;
}

.foo .logo-footer{
    color: #C9A227;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.foo .list-footer{
    list-style: disc;
    color: #F7F7F5;
}

.foo .list-footer .item-footer a{
    color: #F7F7F5;
    font-size: 16px;
}

.foo .list-redes{
    display: flex;
}

/* Flecha para subir */
.subir{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 45px;
    color: #071d49;
    background-color: #C9A227;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
}

/* MQ */
@media(max-width: 768px){
    .main-contact{
        padding: 20px;
    }
    .contacto, .newsletter{
        padding: 25px;
    }

    .subir{
    opacity: 1;
    visibility: visible;
    }
}

@media (max-width: 520px) {
    .foo{
        flex-direction: column;
        gap: 20px;
    }
}